div.changed
{
background-color: #FFC0FF;
}
div.album
{
clear: both;
padding: 0.5em;
}
img.thumb
{
float: left;
border: none;
margin-right: 1em;
}
img.moreless
{
margin-right: 0.5em;
}
span.author
{
color: gray;
font-style: italic;
}
div.create
{
margin: 0.5em;
}
strong
{
color: black;
}